.key-technologies-container {
    margin-top: 1rem;
}

.rotogran-text {
    display: inline-block;
    font-size: x-large;
    text-align: center;
    width: 100%;
}

@media (max-width: 1000px) {
    .key-technologies-container {
        border-radius: 0.5rem;
        box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
        padding: 0.5rem;
        background-color: white;
    }

    .contents {
        margin-top: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
        padding: 0.5rem;
        background-color: white;
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 1001px) {
    .rotogran-text {
        padding-right: 1rem;
    }
}

.rotogran-site-link {
    color: white;
    text-align: center;
    width: 100%;
    display: inline-block;
    font-style: italic;
    text-decoration: none;
}

.rotogran-site-link-dark {
    color: rgb(51, 51, 51);
    text-align: center;
    width: 100%;
    display: inline-block;
    font-style: italic;
    text-decoration: none;
}

.shadow-box-app-home-screen {
    background-color: #d20021;
    color: white;
}

.lock-image {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.shadow-box-app-inventory {
    background-color: #fafafa;
    color: rgb(51, 51, 51);
}

.see-also {
    text-align: center;
}

.rotogran-body {
    background-image: url('../../../../public/images/project_assets/rotogran_erp/granulator.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.rotogran-sidebar {
    backdrop-filter: blur(0.4vmin);
    background-color: transparent !important;
}

@media (max-width: 1000px), (hover: none) { /* mobile */
    .rotogran-sidebar .contents, .rotogran-sidebar .key-technologies-container {
        background-image: linear-gradient(127deg, rgba(215, 215, 215, 0.8), rgba(215, 215, 215, 0.9));
        border: 1px solid rgb(235, 235, 235);
        backdrop-filter: blur(0.4vmin);
        background-color: transparent !important;
    }
}

@media (min-width: 1001px) and (hover: hover) { /* laptop */
    .rotogran-sidebar {
        background-image: linear-gradient(127deg, rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.9));
        color: white !important;
        border: 1px solid rgb(113, 113, 113);
    }
}

.wrench-gear-logo {
    width: 15vmax;
    height: 15vmax;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.graphic-design {
    text-align: center;
}

.rotogran-logo {
    width: 14vmax;
    height: 14vmax;
    display: block;
    background-size: 100% 140%;
    background-repeat: no-repeat;
    background-position: center;
}
