.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    padding-top: calc(4rem - 4em);
    justify-content: center;
}

.projects-container > * {
    animation: slide-in forwards 0.3s ease-in-out;
}

.selected-project {
    animation: grow forwards 0.5s ease-in-out;
}

.project-thumbnail-root {
    /* border: 1px solid black; */
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.25s ease-in-out;
    margin: 1rem;
    width: 20rem;
    background-color: white;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.2);
}

.project-thumbnail-root:hover {
    scale: 105%;
    cursor: pointer;
}

.thumbnail-image {
    width: 10rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.thumbnail-title {
    text-align: center;
    font-weight: lighter;
    font-size: x-large;
    color: black;
}

.thumbnail-subheading {
    color: black;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    margin-bottom: 1rem;
}

.thumbnail-content {
    color: black;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.thumbnail-tags {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.thumbnail-tags > img {
    margin: 0.5rem;
}

.projects-switching > *{
    animation: slide-out forwards 0.3s ease-in-out;
}


@keyframes slide-out {
    0% {
        translate: 0 0;
    }

    100% {
        translate: calc(-4rem - 100vw) 0;
    }
}

@keyframes slide-in {
    0% {
        translate: calc(4rem + 100vw) 0;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes grow {
    0% {
        scale: 100%;
    }

    100% {
        scale: 10000%
    }
}

.project-types {
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 3em;
    justify-content: center;    
}

.project-types > * {
    font-size: normal;
    font-weight: lighter;
    margin: 0.5rem;
    color: black;
    align-self: center;
    display: block;
}

.project-types > *:hover {
    font-size: x-large;
    transition: all 0.25s ease-in-out;
}

.selected-type {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}
